:host {
	--padding: 16px;

	--width: 80px;
	--iconsize: 48px;
	--textgap: 12px;
    --textlineheight:16px;
    --label-borderwidth:2px;
    /*--font-size: 14px;*/

	position:relative;
	background-color:var(--col-white);
    flex-grow:1;
}
.container {
	padding:var(--padding);
	position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    align-content:flex-start;
    gap:var(--padding);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:auto;
}
.dragbox {
    display:none;
    position:absolute;
    box-sizing:border-box;
    border:1px solid blue;
    background:rgba(64,64,255,0.4);
}
.item {
    flex-grow:0;
    flex-shrink:0;
    width:var(--width);
}
.icon {
    width:var(--iconsize);
    height:var(--iconsize);
    background-repeat:no-repeat;
    background-size:100%;
    margin:var(--textgap) auto;
}
.label {
    font-size:var(--font-size);
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:var(--textlineheight);
    max-height:calc(2 * var(--textlineheight));
    border:var(--label-borderwidth) dotted transparent;
}

.item.selected {

}
.item.selected .icon {
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}
.item.selected .label {
    color:var(--col-select-text);
	background-color:var(--col-select);
    border:var(--label-borderwidth) dotted var(--col-select-text);
}
