:host {
	--height:calc(1.8 * var(--font-size));
	position:relative;
}
.input {
	position:relative;
	display:block;
	height:var(--height);
	width:100%;
	border:none;
	box-sizing:border-box;
	background-color:var(--col-white);
	font-family:var(--font-family);
	color:var(--font-color);
	font-size:var(--font-size);
}
.input::selection {
	color:var(--col-select-text);
	background:var(--col-select);
}
